.searchie{
    fill: #000;
}
.iconbutton{
    fill: #fff;
}
div.fondo{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
div.body0{
    width: 1000px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    h1{
        font-weight: 700;
        color: #6F3D86;
        font-size: 70px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    
    div.body1{
        display: flex;
        align-content: auto;
        justify-content: center;
        clr-input-container{
            display: flex;
            flex-direction: row;
        }
        #buscadorbtn{
            width: 120px;
            background-color: #6F3D86;
            border-color: #683580;
            margin-right: 30px;
        }
        .btn-primary{
            border-radius: 12px;
            font-size: 15px;
            background-color: #223473;
            border-color: #1d2f70;
            margin-top: 0px;
        }
        .clr-input,
        .clr-input-wrapper {
            max-width: 100%;
            width: 100%;
            height: 50px;
        }
        .clr-input {
            height: 30px;
            display: inline-block;
            padding: var(--clr-forms-input-padding);
            max-height: calc(4* var(--clr-forms-baseline));
            font-size: 17px;
        }
        .clr-form-control{
            margin-top: 0;
            margin-right: 20px;
            height: 50px;
        }
        .clr-control-container{
            margin-top: 15px;
        } 
        .clr-input-wrapper.clr-input {
          padding-left: 0;
          padding-right: 0;
        }
        
    }
    div.tablainv {
        width: 100%;
        border-collapse: collapse;
        display: flex;
        justify-content: center;
        align-items: center;
        --clr-thead-bgcolor:#6f3d86;
        --clr-thead-color: #fff;
        --clr-table-border-radius: 5px;
        --clr-table-border-color: #f9f9f9;
        tr:nth-child(odd) {
            background-color: #ebebeb;
            }
        
           tr:nth-child(even) {
            background-color: #F9F9F9;
            }
    }
    td{
        vertical-align: middle;
        text-align: center;
    }
    #eliminacion, #edicion{
        background-color: #566497;
        border:none;
        border-radius: 10px;
        height: 36px;
        width: 36px;
        padding: 0px;
        margin-right: 10px;
    }
    .icontb{
        fill: #fff;
    }
}