
.btn-primary{
    background-color: #223473;
    border-color:#18275f;
}
.btn-primary:hover{
    background-color: #18275f;
}
.btn-primary:disabled{
    background-color: #787b82;
    border-color: #4e5057;
}