.kumbh-sans-font {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 720;
    font-style: normal;
  }

  .modal {
    display: none;
  }
  .modal.open {
    display: block;
  }