<app-tabs></app-tabs>



<div class="fondo">
    <div class="body0">
        <h1>VENTAS</h1>
        <div class="body1">
            <div class="body2">
                <h2>Venta N-</h2>
                <div class="Ventasform">
                    <form clrForm id="dosprim">
                        <clr-input-container id="nombreC">
                            <label>
                                <input clrInput formControlName="NombreCliente" placeholder="Nombre del Cliente" />
                            </label>
                        </clr-input-container>
                        <clr-input-container id="nombreV">
                            <label>
                                <input clrInput formControlName="NombreVendedor" placeholder="Nombre del Vendedor" />
                            </label>
                        </clr-input-container>
                    </form>
                    <form clrForm id="dosseg">
                        <clr-input-container id="Valor">
                            <label>
                                <input clrInput formControlName="NombreCliente" placeholder="V. total" type="number"/>
                            </label>
                        </clr-input-container>
                        <clr-date-container id="fechadeventa">
                            <label><input type="date" autocomplete="off" clrDate name="demo"/></label>
                        </clr-date-container>
                    </form>
                </div>
            </div>


            <div class="body3">
                <h2>Resumen de pedidos</h2>            
            </div>
        </div>
    </div>
</div>
  
