div.fondo{
    display: flex;
    justify-content: center;
}

div.body0{
    width: 1000px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100vw;
    h1{
        font-weight: 700;
        color: #6F3D86;
        font-size: 60px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}
    
div.body1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95vw;

    h2{
        font-weight: 700;
        color: #6F3D86;
        font-size: 35px;
        margin: 10px;
        padding-top: 2vh;
    }

    div.body2{
        display: flex;
        background-color: #F9F9F9;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 10px;
        margin-right: 10px;
        width: 45vw;
        justify-content: center;
        border-radius: 25px;
        height: 70vh;
        overflow-y: scroll;

        div.Ventasform{
            width: 42vw;
            margin-bottom: 3vh;

                                    //Estilos del formulario desde acá.**
            form{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
                input{
                    font-size: 15px;
                    padding-top: 12px;
                    padding-bottom: 10px;
                    border-radius: 5px;
                    border-bottom-color: #6F3D86;
                }
                label{
                    border: 40px;
                    justify-content: right;
                    color: #6F3D86;
                    width: 60px;
                    margin-bottom: 0.5vh;
                }
                                        //Específicos para los campos por aparte, a tener en cuenta: "input" no afecta a Vendedor ya que este es dropdown**
                #cliente, #vendedor{width: 25vw;}
                #fechadeventa{width: calc(14.5vw - 30px);}
                #valort, #cantidadp{width: 14.5vw;}
                #producto{width: 40vw;}
                #valort,#cliente,#vendedor,#producto{
                    background-color: #EBEBEB;
                    accent-color: #6F3D86;
                    color: #6F3D86;
                    border-radius: 5px;
                    border-bottom-color: #6F3D86;
                }
            
            }
        }
        div.ProductForm{
            width: 42vw;
            margin-bottom: 3vh;

                                    //Estilos del formulario desde acá.**
            form{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                width: 42vw;
                
                input{
                    font-size: 15px;
                    padding-top: 12px;
                    padding-bottom: 10px;
                    border-radius: 5px;
                    border-bottom-color: #6F3D86;
                }
                label{
                    border: 40px;
                    justify-content: right;
                    color: #6F3D86;
                    width: 60px;
                    margin-bottom: 0.5vh;
                }
                                        //Específicos para los campos por aparte, a tener en cuenta: "input" no afecta a Vendedor ya que este es dropdown**
                #producto{width: 25vw;}
                #cantidadp{width: 10vw;}
                #producto, #cantidadp{
                    background-color: #EBEBEB;
                    accent-color: #6F3D86;
                    color: #6F3D86;
                    border-radius: 5px;
                    border-bottom-color: #6F3D86;
                    margin-top: 0%;
                }
                h3{
                    margin-top: 10px;
                    margin-bottom: 0;
                    padding-right: 23vw;
                }
                .clr-form-control{
                    margin-top: 10px;
                }
            }
        }
                                                    //buscador, estilos
        clr-input-container.busca{
            display: flex;
            flex-direction: row;
            width: 42vw;
            align-items: center;
            justify-content: left;
            margin-top: 0;
        }

                                                    //Estilos de la tabla desde acá.**
        .table.table-striped.table-bordered{
            --clr-thead-bgcolor:#6f3d86;
            --clr-thead-color: #fff;
            --clr-table-border-radius: 5px;
            --clr-table-cornercellradius:5px;
            --clr-table-border-color: #f9f9f9;
            width: 42vw;
            margin-bottom: 4vh;
            tr:nth-child(odd) {
                background-color: #ebebeb;
                }
            
               tr:nth-child(even) {
                background-color: #F9F9F9;
            }
            td{
                vertical-align: middle;
                text-align: left;
                font-size: 15px;
            }
            th{
                font-size: 13px;
            }
        }
                                                    //Estilos de la tabla hasta acá.**
        .btn.btn-primary{
            background-color: #6F3D86;
            border-color: #6F3D86;
        }
    }
    div.body3{
        display: flex;
        flex-wrap: wrap;
        background-color: #F9F9F9;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 25px;
        width: 45vw;
        justify-content: center;
        flex-direction: row;
        align-content: flex-start;

        .TimeButtons{
            width: 42vw;
            display: flex;
            justify-content: center;
        }
        .btn.btn-primary{
            --clr-btn-primary-bg-color:#E3D5ED;
            --clr-btn-primary-border-color:#E3D5ED;
            --clr-btn-primary-color: #6F3D86;
            --clr-btn-primary-hover-color: #fff;
            --clr-btn-primary-hover-bg-color: #6F3D86;
            --clr-btn-primary-active-color: #ffffff;
            --clr-btn-primary-active-bg-color: #0b4b94;
            width: 7vw;
            height: 30px;
            border-radius: 10px;
        }
        .TVendido{
            width: 40vw;
            padding-right: 12vw;
            padding-left: 12vw;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            h2{
                font-weight: 600;
                margin: 0;
                padding-top: 10px;
            }
            h3{
                font-weight: 600;
                margin: 0;
                padding-top: 0;
                padding-bottom: 8px;
            }
        }

        .timetables{
            display: flex;
            width: 42vw;
            justify-content: left;
                                        //buscador, estilos
            clr-input-container.filtro{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 0;
                flex-wrap: nowrap;
            }
        }
    }
}

                                //Estilos de la tabla de clientes desde acá.**
            #tabhis{
                --clr-thead-bgcolor:#6f3d86;
                --clr-thead-color: #fff;
                --clr-table-border-radius: 5px;
                --clr-table-cornercellradius:5px;
                --clr-table-border-color: #f9f9f9;
                width: 42vw;
                margin-bottom: 4vh;
                tr:nth-child(odd) {
                    background-color: #ebebeb;
                    }
                
                   tr:nth-child(even) {
                    background-color: #F9F9F9;
                }
                td.left{
                    vertical-align: middle;
                    text-align: left;
                    font-size: 15px;
                }
                th{
                    font-size: 13px;
                }

                .label.label-info{
                    --clr-label-info-bg-color: #fff8958f;
                    --clr-label-info-border-color: #dfb83b;
                }
                .label.label-warning{
                    --clr-label-warning-bg-color: #a7645b8f;
                    --clr-label-warning-border-color: #753d17;
                }
                .label.label-success{
                    --clr-label-success-bg-color: #8ff7a98f;
                    --clr-label-success-border-color: #1a7a27;
                }
            }
                            //Estilos de la tabla de clientes hasta acá.**