<app-tabs></app-tabs>



<div class="fondo">
    <div class="body0">
        <h1>VENTAS</h1>
        <div class="body1">
            <div class="body2">
                <h2>Venta N-</h2>
                <div class="Ventasform">
                    <form>
                        <clr-input-container>
                          <label>Cliente:</label>
                          <input id="cliente" clrInput formControlName="nombre" type="text" placeholder="Nombre del Cliente"/>
                        </clr-input-container>
                        <clr-date-container >
                            <label>Fecha V.</label>
                            <input id="fechadeventa" type="date" autocomplete="off" clrDate name="demo"/>
                        </clr-date-container>
                        <clr-select-container>
                          <label>Vendedor:</label>
                          <select id="vendedor" clrSelect>
                            <option></option>
                          </select>
                        </clr-select-container>
                        <clr-input-container>
                          <label>V. total</label>
                          <input id="valort" clrInput formControlName="precio_detal" type="number" placeholder="$0000" />
                        </clr-input-container>
                    </form>
                </div>
            </div>


            <div class="body3">
                <h2>Resumen de pedidos</h2>            
            </div>
        </div>
    </div>
</div>
  
