clr-modal {
    --clr-modal-border-radius: 25px;
    --clr-modal-title-color: #6F3D86;
    --clr-modal-title-font-family: "Kumbh Sans";
    --clr-modal-title-font-size: 40px;
    --clr-modal-title-font-weight: 700;
    --clr-modal-lg-width: 60vw;
  }
  
  #cancel {
    border-color: #8D62A0;
    color: #8D62A0;
  }
  
  #save {
    background-color: #6F3D86;
    border-color: #6F3D86;
  }
  