<clr-modal [(clrModalOpen)]="open" [clrModalSize]="'lg'" (clrModalOpenChange)="onClose()">
  <h3 class="modal-title">{{ product?.id ? 'Edición de producto' : 'Creación de producto' }}</h3>
  <div class="modal-body">
    <form [formGroup]="productForm">
      <clr-input-container>
        <label>Producto</label>
        <input id="product" clrInput formControlName="nombre" type="text" />
      </clr-input-container>
      <clr-input-container>
        <label>Cantidad</label>
        <input id="cantidad" clrInput formControlName="cantidad" type="number" />
      </clr-input-container>
      <clr-input-container>
        <label>Marca</label>
        <input id="marca" clrInput formControlName="marca" type="text" />
      </clr-input-container>
      <clr-select-container>
        <label>Linea</label>
        <select id="linea" clrSelect formControlName="linea">
          <option *ngFor="let linea of lineas" [value]="linea.id">{{ linea.nombre }}</option>
        </select>
      </clr-select-container>
      <clr-select-container>
        <label>Proveedor</label>
        <select id="proveedor" clrSelect formControlName="proveedor">
          <option *ngFor="let proveedor of proveedores" [value]="proveedor.id">{{ proveedor.nombre }}</option>
        </select>
      </clr-select-container>
      <clr-textarea-container>
        <label>Descripción</label>
        <textarea id="descripcion" clrTextarea formControlName="descripcion" type="text"></textarea>
      </clr-textarea-container>
      <clr-input-container>
        <label>Precio Detal</label>
        <input id="precio1" clrInput formControlName="precio_detal" type="number" />
      </clr-input-container>
      <clr-input-container>
        <label>Precio Mayor</label>
        <input id="precio2" clrInput formControlName="precio_mayor" type="number" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button id="cancel" type="button" class="btn btn-outline" (click)="onClose()">Cancelar</button>
    <button id="save" type="button" class="btn btn-primary" (click)="onSave()">Guardar</button>
  </div>
</clr-modal>