<clr-modal [(clrModalOpen)]="open" [clrModalSize]="'lg'" (clrModalOpenChange)="onClose()">
  <h3 class="modal-title">{{ product?.id ? 'Edición de producto' : 'Creación de producto' }}</h3>
  <div class="modal-body">
    <form [formGroup]="productForm">
      <clr-input-container>
        <label>Producto</label>
        <input clrInput formControlName="nombre" type="text" />
      </clr-input-container>
      <clr-input-container>
        <label>Cantidad</label>
        <input clrInput formControlName="cantidad" type="number" />
      </clr-input-container>
      <clr-input-container>
        <label>Marca</label>
        <input clrInput formControlName="marca" type="text" />
      </clr-input-container>
      <clr-select-container>
        <label>Linea</label>
        <select clrSelect formControlName="linea">
          <option *ngFor="let linea of lineas" [value]="linea.id">{{ linea.nombre }}</option>
        </select>
      </clr-select-container>
      <clr-select-container>
        <label>Proveedor</label>
        <select clrSelect formControlName="proveedor">
          <option *ngFor="let proveedor of proveedores" [value]="proveedor.id">{{ proveedor.nombre }}</option>
        </select>
      </clr-select-container>
      <clr-input-container>
        <label>Descripción</label>
        <input clrInput formControlName="descripcion" type="text" />
      </clr-input-container>
      <clr-input-container>
        <label>Precio Detal</label>
        <input clrInput formControlName="precio_detal" type="number" />
      </clr-input-container>
      <clr-input-container>
        <label>Precio Mayor</label>
        <input clrInput formControlName="precio_mayor" type="number" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onClose()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
  </div>
</clr-modal>