<clr-modal [(clrModalOpen)]="open">
  <h3 class="modal-title">{{ product?.id ? 'Edit Product' : 'Create Product' }}</h3>
  <div class="modal-body">
    <form [formGroup]="productForm">
      <clr-input-container>
        <label>Producto</label>
        <input clrInput formControlName="producto" type="text" />
      </clr-input-container>
      <clr-input-container>
        <label>Cantidad</label>
        <input clrInput formControlName="cantidad" type="number" />
      </clr-input-container>
      <clr-input-container>
        <label>Marca</label>
        <input clrInput formControlName="marca" type="text" />
      </clr-input-container>
      <clr-input-container>
        <label>Linea</label>
        <input clrInput formControlName="linea" type="text" />
      </clr-input-container>
      <clr-input-container>
        <label>Proveedor</label>
        <input clrInput formControlName="proveedor" type="text" />
      </clr-input-container>
      <clr-input-container>
        <label>Descripción</label>
        <textarea clrTextarea formControlName="descripcion"></textarea>
      </clr-input-container>
      <clr-input-container>
        <label>Precio Detal</label>
        <input clrInput formControlName="precio_detal" type="number" />
      </clr-input-container>
      <clr-input-container>
        <label>Precio Mayor</label>
        <input clrInput formControlName="precio_mayor" type="number" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onClose()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
  </div>
</clr-modal>